---

- name: Configration tasks
  when: unattended_upgrades_package_ensure != 'absent'
  tags:
    - unattended_upgrades_config
    - unattended_upgrades
  become: true
  block:
    - name: Manage Config
      ansible.builtin.template:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        owner: root
        group: root
        mode: 0644
      notify: Restart service
      loop: "{{ unattended_upgrades_config_files }}"
