---

- name: Install unattended_upgrades tasks
  tags:
    - unattended_upgrades_install
    - unattended_upgrades
  become: true
  block:
  - name: Install packages
    ansible.builtin.package:
      name: "{{ unattended_upgrades_package_name }}"
      state: "{{ unattended_upgrades_package_ensure }}"
