---

- name: Service tasks
  when: not ansible_check_mode
  tags:
    - unattended_upgrades_service
    - unattended_upgrades
  become: true
  block:
    - name: Manage service
      ansible.builtin.service:
        name: "{{ unattended_upgrades_service_name }}"
        state: "{{ unattended_upgrades_service_ensure }}"
        enabled: "{{ unattended_upgrades_service_enable }}"
